
<ion-content [fullscreen]="true" class="profile-content" [scrollY]="false">
  <div class="page">
    <div class="profile-card">
      <div class="avatar-section">
        <img src="assets/icon/logo.png" alt="Foto de perfil" class="avatar" />
        <ion-button fill="clear" class="change-photo-btn">
          Cambiar foto
        </ion-button>
      </div>

      <form class="profile-form">
        <ion-item class="input-item">
          <ion-label position="stacked">Nombre completo</ion-label>
          <ion-input placeholder="Tu nombre completo"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input placeholder="tu@correo.com" type="email"></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input placeholder="" type="password"></ion-input>
        </ion-item>

        <ion-button expand="block" class="save-btn">
          Guardar cambios
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>