<app-header *ngIf="showLogo"></app-header>

<ion-tabs (ionTabsWillChange)="onTabChange($event)">
  <ion-tab tab="home">
    <div id="home-page">
      <app-home-c></app-home-c>
    </div>
  </ion-tab>

  <ion-tab tab="search">
    <div id="search-page">
      <app-search></app-search>
    </div>
  </ion-tab>

  <ion-tab tab="notifications">
    <div id="notification-page">
      <app-notification></app-notification>
    </div>
  </ion-tab>

  <ion-tab tab="profile">
    <div id="profile-page">
      <app-profile></app-profile>
    </div>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      Buscar
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-icon name="notifications-outline"></ion-icon>
      Notificaciones
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ng-container *ngIf="userAvatarUrl; else initialsAvatar">
        <ion-avatar class="tab-avatar">
          <img [src]="userAvatarUrl" alt="Avatar" />
        </ion-avatar>
      </ng-container>
      <ng-template #initialsAvatar>
        <div class="tab-initials-avatar" aria-label="Avatar con iniciales">{{ userInitials }}</div>
      </ng-template>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="goToCreateQuestion()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
