<div class="app-input">
  <label class="input-label">
    {{ displayLabel }}
    <span *ngIf="requiredAsterisk" class="required-asterisk">*</span>
  </label>
  <ion-input
    class="native-input"
    [placeholder]="placeholder"
    [type]="type"
    [formControl]="control"
    [class.error]="control.invalid && control.touched">
    <ion-input-password-toggle *ngIf="isPassword" slot="end"></ion-input-password-toggle>
  </ion-input>
  <div *ngIf="showErrors && control.invalid && control.touched" class="error-message">
    {{ getErrorMessage() }}
  </div>
</div>