<ion-content>
  <div class="welcome-container">

    <img src="assets/icon/logo.png" alt="Questopia Logo" class="logo" />

  
    <h1 class="title">Questopia</h1>
    <p class="subtitle">Crea y contesta al mundo</p>

    <div class="rules">
      <div class="rule-card" *ngFor="let rule of rules; let i = index">
        <img [src]="rule.icon" [alt]="rule.title" class="rule-icon" />
        <div class="rule-text">
          <h3>{{ rule.title }}</h3>
          <p>{{ rule.description }}</p>
        </div>
      </div>
    </div>


    <ion-button expand="block" class="login-btn" (click)="goToLogin()" >
      Ir al login
    </ion-button>

  </div>
</ion-content>
