<ion-content class="welcome-content">
  <div class="container">
<div class="brand">
        <div class="logo-wrapper">
          <img src="assets/icon/logo.png" alt="Logo" class="logo" />
        </div>    <h1 class="title">WELCOME QUESTOPIA</h1>
</div>
    <p class="subtitle">Crea y contesta al mundo</p>

    <div class="rules">
      <h2>Reglas de la aplicación</h2>
      <ul>
        <li>Respeta a los demás usuarios.</li>
        <br>
        <li>Publica preguntas claras y relevantes.</li>
        <br>
        <li>No compartas información personal.</li>
        <br>
        <li>Participa con respeto y diversión.</li>
        <br>
      </ul>
    </div>
  <div class="alt-action">
        <a routerLink="/auth/login" class="alt-link">siguiente</a>
      </div>

  </div>
</ion-content>

